---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import Grid from "../../components/Grid.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await getCollection("posts");
---

<BaseLayout title="Posts">
  {
    posts.length === 0 ? (
      <p>No posts found.</p>
    ) : (
      <Grid>
        {posts.map((post) => (
          <Card {...post} />
        ))}
      </Grid>
    )
  }
</BaseLayout>
