---
import Card from "../../components/Card.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const allProjects = await getCollection("projects")
  const allData = [...allPosts, ...allProjects]

  const uniqueTags = [
    ...new Set(allData.map((post: any) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredData = allData.filter((post: any) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { dataEntries: filteredData },
    };
  });
}

const { tag } = Astro.params;
const { dataEntries } = Astro.props;
---

<BaseLayout title={tag}>
  {
    dataEntries.length === 0 ? (
      <p>No posts or projects found.</p>
    ) : (
      <section class="flex flex-col gap-8">
        {dataEntries.map((dataEntry) => (
          <Card {...dataEntry} />
        ))}
      </section>
    )
  }
</BaseLayout>
