---
import { Picture } from "astro:assets";
import myImage from "../images/myPhoto.jpg"; // Image is 1600x900

import LatestEntry from "../components/LatestEntry.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import VisualCoreComplex from "../components/VisualCoreComplex";
import HeroElement from "../components/HeroElement";
---

<BaseLayout title="Home" description="Welcome to my blog!">
  <div class="grid grid-rows-[1fr_2fr] grid-cols-1 md:grid-cols-3 gap-4">
    <section
      class="md:col-span-3 card flex items-center justify-around animate-fade-in"
    >
      <Picture
        src={myImage}
        alt="A description of my image."
        class="rounded-full w-16 h-16 md:w-48 md:h-48 object-cover"
      />

      <article class="text-center">
        <h1 class="text-3xl font-bold">
          Hello, I'm Alex and Welcome to My Blog
        </h1>
        <p class="text-lg">
          Everything is under construction, pls come back later when it's done
        </p>
      </article>
    </section>

    <section
      class="container flex-col items-center justify-center animate-slide-up sm:col-span-3 md:col-span-1"
    >
      <h3 class="text-md font-semibold text-center">Latest Post</h3>
      <LatestEntry collection="posts" />
    </section>

    <section
      class="container flex items-center justify-center animate-slide-up sm:col-span-3 md:col-span-1"
    >
      <HeroElement client:load />
    </section>

    <section
      class="container flex-col items-center justify-center animate-slide-up sm:col-span-3 md:col-span-1"
    >
      <h3 class="text-md font-semibold text-center">Latest Project</h3>
      <LatestEntry collection="projects" />
    </section>
  </div>
</BaseLayout>
