---
import { Picture } from "astro:assets";
import myImage from "../images/myPhoto.jpg"; // Image is 1600x900

import LatestEntry from "../components/LatestEntry.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import VisualCoreComplex from "../components/VisualCoreComplex";
import HeroElement from "../components/HeroElement";
---

<BaseLayout title="Home" description="Welcome to my blog!">
  <div class="flex flex-col gap-4">
    <section class="card flex items-center justify-between animate-fade-in">
      <Picture
        src={myImage}
        formats={["avif", "webp"]}
        alt="My portrait."
        inferSize={true}
        class="rounded-lg w-48 h-48 md:w-16 md:h-16 object-cover"
      />

      <article class="text-center w-full">
        <h1 class="text-3xl font-bold">
          Hello, I'm Alex and Welcome to My Blog
        </h1>
        <p class="text-lg">
          I'm software developer and tech enthusiast (well, kinda obvious,
          huh?). Here, I share my thoughts on programming, technology, and my
          personal projects.
        </p>
      </article>
    </section>

    <section
      class="flex flex-col items-center justify-center animate-slide-up gap-4"
    >
      <h3 class="text-md font-semibold text-center">Latest Post</h3>
      <LatestEntry collection="posts" />
      <a href="/posts" class="text-sm underline mt-2">View all posts</a>
    </section>

    <section
      class="flex flex-col items-center justify-center animate-slide-up gap-4"
    >
      <h3 class="text-md font-semibold text-center">Latest Project</h3>
      <LatestEntry collection="projects" />
      <a href="/projects" class="text-sm underline mt-2">View all projects</a>
    </section>
  </div>
</BaseLayout>
