---
// props: { name: string; url: string; icon: "linkedin" | "github" | "email" }
const { name, url, icon } = Astro.props;
---

<a
  href={url}
  class="social-link"
  rel="noopener noreferrer"
  target="_blank"
  aria-label={name}
>
  <span class="social-link-icon">
    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
      {
        icon === "linkedin" && (
          <path d="M16 8a6 6 0 0 1 6 6v6h-4v-6a2 2 0 0 0-4 0v6h-4v-6a6 6 0 0 1 6-6zM2 9h4v12H2zM4 3a2 2 0 1 1 0 4a2 2 0 0 1 0-4z" />
        )
      }
      {
        icon === "github" && (
          <path d="M12 0a12 12 0 0 0-3.79 23.4c.6.11.82-.26.82-.58v-2.17c-3.34.73-4.04-1.61-4.04-1.61a3.17 3.17 0 0 0-1.33-1.75c-1.09-.74.09-.73.09-.73a2.51 2.51 0 0 1 1.84 1.24a2.55 2.55 0 0 0 3.49 1a2.54 2.54 0 0 1 .76-1.6c-2.67-.3-5.47-1.33-5.47-5.9a4.61 4.61 0 0 1 1.23-3.19a4.28 4.28 0 0 1 .12-3.14s1-.32 3.3 1.23a11.4 11.4 0 0 1 6 0c2.3-1.55 3.3-1.23 3.3-1.23a4.28 4.28 0 0 1 .12 3.14a4.61 4.61 0 0 1 1.23 3.19c0 4.59-2.81 5.59-5.49 5.88a2.87 2.87 0 0 1 .82 2.23v3.3c0 .32.22.7.83.58A12 12 0 0 0 12 0z" />
        )
      }
      {
        icon === "email" && (
          <path d="M1.5 4.5h21v15h-21z M3 6v.5l9 6 9-6V6l-9 6-9-6z" />
        )
      }
      {
        icon === "rss" && (
          <path
            d="M21.75 0H2.25C1.011719 0 0 1.011719 0 2.25v19.5C0 22.988281 1.011719 24 2.25 24h19.5c1.238281 0 2.25-1.011719 2.25-2.25V2.25C24 1.011719 22.988281 0 21.75 0ZM6.539062 19.480469c-1.125 0-2.039062-.902344-2.039062-2.027344 0-1.117187.914062-2.035156 2.039062-2.035156 1.128907 0 2.039063.917969 2.039063 2.035156 0 1.125-.914063 2.027344-2.039063 2.027344ZM11.65625 19.5c0-1.917969-.742188-3.722656-2.09375-5.070312-1.355469-1.355469-3.148438-2.101563-5.0625-2.101563V9.394531c5.570312 0 10.105469 4.53125 10.105469 10.105469Zm5.210938 0c0-6.820312-5.546876-12.375-12.363282-12.375V4.191406c8.4375 0 15.304688 6.871094 15.304688 15.308594h-2.945313Zm0 0"
            style="stroke:none;fill-rule:evenodd;fill-opacity:1"
          />
        )
      }
    </svg>
  </span>

  {name && <span>{name}</span>}
</a>
