---
import { getCollection, getEntry, render } from "astro:content";
import PostLayout from "../../layouts/PostLayout.astro";

import sanitizeHtml from "sanitize-html";
import { marked } from "marked";
import sanitizerConfig from "../../configs/sanitizerConfig.js";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;

const cleanHtml = sanitizeHtml(
  marked.parse(project.data.content),
  sanitizerConfig({
    defaultTags: sanitizeHtml.defaults.allowedTags,
    defaultAttributes: sanitizeHtml.defaults.allowedAttributes,
  })
);
---

<PostLayout {...project.data}>
  <section set:html={cleanHtml} />
  <div class="mt-8">
    <h3 class="text-lg font-semi bold">Repository</h3>
    <p>
      <a
        href={project.data.repo}
        target="_blank"
        rel="noopener noreferrer"
        class="text-primary hover:underline focus:outline-none focus:ring-2 focus:ring-primary"
      >
        {project.data.repo}
      </a>
    </p>
  </div>
</PostLayout>
