---
import { getCollection, getEntry, render } from "astro:content";
import PostLayout from "../../layouts/PostLayout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
---

<PostLayout {...project.data}>
  <div class="mt-8">
    <h3 class="text-lg font-semi bold">Repository</h3>
    <p>
      <a
        href={project.data.repo}
        target="_blank"
        rel="noopener noreferrer"
        class="text-primary hover:underline focus:outline-none focus:ring-2 focus:ring-primary"
      >
        {project.data.repo}
      </a>
    </p>
  </div>
</PostLayout>
