---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import Grid from "../../components/Grid.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const projects = await getCollection("projects");
---

<BaseLayout title="Projects">
  {
    projects.length === 0 ? (
      <p>No projects found.</p>
    ) : (
      <section class="flex flex-col gap-8">
        {projects.map((project) => (
          <Card {...project} />
        ))}
      </section>
    )
  }
</BaseLayout>
